<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Profe</title>
</head>
<body>
{% extends "index.html" %}
{% block content %}
<h1>Es mostra info de {{t.nom}}  DAW 2</h1>
    <table border="15">
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Cognom</th>
            <th>Correu</th>
            <th>Rol</th>
            <th>Mòduls</th>
        </tr>

            <tr>
                <td>{{ t.id }}</td>
                <td>{{ t.nom }}</td>
                <td>{{ t.cognom }}</td>
                <td>{{ t.correu }}</td>
                <td>{{ t.rol }}</td>
                <td>{{ t.moduls }}</td>
            </tr>
                <a href="{% url 'teachers' %}">  Torna enrere </td>
    </table>
{% endblock content %}
</body>
</html>
