{% extends "index.html" %}
{% block content %}
<h1>Es mostra info dels estudiants d'M06 de DAW 2</h1>
    <table border="15">
        <tr>
            <th>Nom</th>
            <th>Cognom</th>
            <th>Segon cognom</th>
            <th>Correu</th>
            <th>INFO</th>
        </tr>

        {% for usr in s %}
            <tr>
                <td>{{ usr.nom }}</td>
                <td>{{ usr.cognom1 }}</td>
                <td>{{ usr.cognom2 }}</td>
                <td>{{ usr.correu }}</td>
                <td><a href="{% url 'user' usr.id%}"> + INFO </td>
                <td><a href="{% url 'update_user' usr.id%}"> + EDIT </td>
                <td><a href="{% url 'delete_user' usr.id%}"> + DELETE </td>
            </tr>
        {% endfor %}
                <a href="{% url 'index' %}">  Torna enrere </td>
    </table>
{% endblock content %}
